<nav>
    <div class="nav-content">
        <a href="/browse-light.html"><img src="/media/images/soundcloud-icon04.png" style="height: 100%"></a>
    </div>
</nav>

<div class="main-block">
    <div class="header">
        <div class="header-photo-area">
            <div class="header-photo-circle"></div>
        </div>
        <div class="header-labels">
            <div class="h1-profile">Username</div>
            <div class="h2-profile">Location</div>
        </div>
    </div>

<div class="main-profile-block">
    <div class="profile-content">
        <div class="profile-nav">
            <div class="profile-nav-links">
                <ul>
                    <li><a href=""></a>All</li>
                    <li><a href=""></a>Popular Tracks</li>
                    <li><a href=""></a>Tracks</li>
                    <li><a href=""></a>Album</li>
                    <li><a href=""></a>Playlists</li>
                    <li><a href=""></a>Reposts</li>
                    <li><a href=""></a>Samples</li>
                </ul>
            </div>
        </div>
    </div>

<div class="footer">
    <div class="search-spacer"></div> <!--fix to align with nav-->
    <div class="go-mobile">
        <span>Go mobile</span>
    </div>
    <div class="footer-app-container">
        <a href="#"><img src="/media/images/apple-app-store.png"></a>
        <a href="#"><img src="/media/images/google-play-store.png"></a>
    </div>
            <div class="footer-links">
                <a href="#">Legal - </a>
                <a href="#">Privacy - </a>
                <a href="#">Cookie Policy - </a>
                <a href="#">Cookie Manager - </a>
                <a href="#">Imprint - </a>
                <a href="#">Creator Resources - </a>
                <a href="#">Blog - </a>
                <a href="#">Charts - </a>
                <a href="#">Popular searches </a>
            </div>
            <div class="footer-language">
                Language: English
            </div>
            <p><button id="toggle-theme">Toggle</button></p>
        </div>

    </div>
</div>
