{{!-- NAV BEGINS --}}
<nav>
  <div class="nav-content">
    <a href="#"><img src="/images/orange-logo.png" style="height: 100%"></a>
  </div>
</nav>
{{!-- END OF NAV --}}

{{!-- MAIN BLOCK BEGINS --}}
<div class="main-block">
  <div class="search-spacer"></div>
    <h1>Samples: Most Popular</h1>
    <h2>The most downloaded samples on Sample Artist this week</h2>

    <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme">Toggle Theme</button>
</div>
{{!-- END OF MAIN BLOCK --}}