{{!-- BODY BEGINS // Body tag included to add orange top border via CSS box-shadow property --}}
<body class="orange-border">
    
    {{!-- LOGIN PAGE CONTAINER BEGINS --}}
    <div class=login-page-container>

        {{!-- LOGIN BEGINS --}}
        <div class="login">
            <div class="login-content">
                <span class="login-text">
                SampCloud is a project designed to inspire new ways for artists to monetize their creations
                during uncertain times in the music industry. Modeled after the existing platform SoundCloud, this project
                suggests add-ons which could be integrated into the platform's current scheme. These additions would offer
                artists, sound-designers and foley artists alike the ability to share work in new and exciting ways, while earning income.
                </span>
                <a href="/signup"><button class="primary-button-wide">Create an account</button></a>
                <a href="/login"><button class="secondary-button-wide">Login</button><br></a>
            </div>
        </div>
        {{!-- END OF LOGIN --}}

        {{!-- * Remaining Page Content * --}}
        <p>Get the app.</p>
        <div class="app-container">
            <a href="#"><img src="/images/apple-app-store.png"></a>
            <a href="#"><img src="/images/google-play-store.png"></a>
        </div>
        <div class="copyright">Copyright © 2021 SampCloud in Partnership with Ironhack Berlin</div>
        <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme" class="toggle-theme"><i class="fas fa-adjust"></i></button>
    </div>
    {{!-- END OF LOGIN PAGE CONTAINER --}}

</body>
{{!-- END OF BODY --}}