{{!-- BODY BEGINS // Body tag included to add orange top border via CSS box-shadow property --}}
<body class="orange-border">
    
    {{!-- LOGIN PAGE CONTAINER BEGINS --}}
    <div class="login">

        {{!-- LOGIN BEGINS --}}
        <div class="container">
            <div class="content">
                <p style="text-align: justify;">
                SampCloud is a project designed to suggest new ways for artists to monetize their creations
                during uncertain times in the music industry. Inspired by the existing platform and pioneer for indie artists <a href="https://soundcloud.com>SoundCloud</a>, this project
                proposes add-ons which could be integrated into the platform's current scheme. These additions would offer
                musicians, sound-designers and foley artists alike the ability to share work in new and exciting ways, while earning income from their creations.
                </p>
                <a href="/signup"><button class="primary-button">Create an account</button></a>
                <a href="/login"><button class="secondary-button">Login</button><br></a>
            </div>
        </div>
        {{!-- END OF LOGIN --}}

        {{!-- * Remaining Page Content * --}}
        <p>Get the app.</p>
        <div class="app-container">
            <a href="#"><img src="/images/apple-app-store.png"></a>
            <a href="#"><img src="/images/google-play-store.png"></a>
        </div>
        <div class="copyright">Copyright © 2021 SampCloud in Partnership with Ironhack Berlin</div>
        <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme" class="toggle-theme"><i class="fas fa-adjust"></i></button>
    </div>
    {{!-- END OF LOGIN PAGE CONTAINER --}}

</body>
{{!-- END OF BODY --}}
