{{!-- BODY BEGINS // Body tag included to add orange top border via CSS box-shadow property --}}
<body class="orange-border">
    
    {{!-- LOGIN PAGE CONTAINER BEGINS --}}
    <div class="login">

        {{!-- LOGIN BEGINS --}}
        <div class="container">
            <div class="content">
                <p style="text-align: justify;">
                SampCloud is a project which suggests new ways for artists to monetize their creations
                during uncertain times in the music industry. Inspired by the existing platform and pioneer for indie 
                artists <a href="https://soundcloud.com" alt="Official SoundCloud Website"><strong>SoundCloud</strong></a>, this project
                proposes additions which would offer musicians, sound-designers, and foley artists the ability to share 
                in new and exciting ways, while also earning income. This project is not in any way affiliated with SoundCloud – we're just fans! For more information, 
                view the Github repository <a href="https://github.com/SampCloud/SampCloud" alt="SampCloud Github Repository"><strong>here</strong></a>, or
                Figma prototype <a href="https://www.figma.com/file/Oko4I4bDL6w9AniFg6zjRa/SampCloud-Prototype-%E2%80%93-Light-Theme?node-id=212%3A0" target="_blank"><strong>here</strong></a>.
                </p>
                <a href="/signup"><button class="primary-button">Create an account</button></a>
                <a href="/login"><button class="secondary-button">Login</button><br></a>
            </div>
        </div>
        {{!-- END OF LOGIN --}}

        {{!-- * Remaining Content * --}}
        <p>Get the app.</p>
        <div class="app-container">
            <a href="https://apps.apple.com/us/app/soundcloud-music-audio/id336353151" alt="SoundCloud on Apple App Store"><img src="/images/apple-app-store.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.soundcloud.android&hl=en_AU&gl=US" alt="SoundCloud on Google Play"><img src="/images/google-play-store.png"></a>
        </div>
        <div class="copyright">Copyright © 2021 SampCloud in Partnership with <a href="https://www.ironhack.com/en/berlin" alt="Offical Ironhack Website">Ironhack Berlin</a></div>
        <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme" class="toggle-theme"><i class="fas fa-adjust" style="border: none"></i></button>
        {{!-- * End of Remaining Content * --}}
    
    </div>
    {{!-- END OF LOGIN PAGE CONTAINER --}}

</body>
{{!-- END OF BODY --}}
