<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sample Artist</title>
        <link rel="shortcut icon" type="image/jpg" href="/media/images/soundcloud-icon02.png"/>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/theme.js" defer></script>
    </head>
    <body class="orange-border">
        <div class=login-container>
            <div class="login">
                <div class="login-content">
                    <p style="color: white">"Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
                    The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of 
                    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                    <a href="/signup"><button class="primary-button">Create an account</button></a>
                    <a href="/login"><button class="secondary-button">Login</button><br></a>
                    <button style="margin: 20px" id="toggle-theme">Toggle Theme</button>
                </div>
            </div>

            <p class="p-light">Get the app.</p>
            <div class="app-container">
                <a href="#"><img src="/images/apple-app-store.png"></a>
                <a href="#"><img src="/images/google-play-store.png"></a>
            </div>
            <div class="copyright">Copyright © 2021 SampleArtist.io in Partnership with Ironhack Berlin</div>
        </div>
    </body>
</html>