<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta property='og:title' content="SampCloud"/>
      <meta property="og:type" content="website" />
      <meta name="image" property="og:image" content="/images/sampcloud-og.png"/>
      <meta property="og:image:width" content="1200"/>
      <meta property="og:image:height" content="630"/>
      <title>{{title}}</title>
      {{!-- FONT AWESOME ICON ASSETS --}}
      <link rel="stylesheet" href="/css/all.css"/>
      <link rel="stylesheet" href="/css/style.css"/>
      <link rel="icon" type="image/png" href="/images/favicon.png"/>
      <script src="/js/script.js" defer></script>
      {{!-- SCRIPT FOR THEME TOGGLE --}}
      <script src="/js/theme.js" defer></script>
      {{!-- SCRIPT FOR MODALS --}}
      <script src="/js/modals.js" defer></script>
   </head>

   <body>
      {{{body}}}
   </body>

</html>