<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sample Artist</title>
        <link rel="shortcut icon" type="image/jpg" href="/media/images/soundcloud-icon02.png"/>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/theme.js" defer></script>
    </head>
    <body class="orange-border">
        <div class=login-container>
            <div class="login">
                <div class="login-content">
                    <form action="/login" method="POST">
                        <label for="username" placeholder="username:">
                        <input type="text" id="username" name="username">
                        <label for="password" placeholder="password:">
                        <input type="password" id="password" name="password">
                        <button class="secondary-button">Login</button><br>
                    </form>
                    
                    {{#if message}}
                        <p style="color: red">{{message}}</p>
                    {{/if}}

                </div>
            </div>
            <p>Get the app.</p>
            <div class="app-container">
                <a href="#"><img src="/images/apple-app-store.png"></a>
                <a href="#"><img src="/images/google-play-store.png"></a>
            </div>
            <div class="copyright">Copyright © 2021 SampleArtist.io in Partnership with Ironhack Berlin</div>
        </div>
    </body>
</html>