{{!-- BODY BEGINS // Body tag included to add orange top border via CSS box-shadow property --}}
<body class="orange-border">

    {{!-- LOGIN PAGE CONTAINER BEGINS --}}
    <div class="login-page-container">

        {{!-- LOGIN BEGINS --}}
        <div class="login">
            <div class="login-content">

                {{!-- FORM BEGINS --}}
                <form action="/login" method="POST">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="username" autocomplete="off">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="password">
                    <button type="submit" class="secondary-button-wide" style="background-color: #9c9997; color: #FFFFFF; margin-top: 20px">Login</button>
                </form>
                {{!-- END OF FORM BEGINS --}}

                {{!-- <div>Don't have an account?<a href="#"> Create one now.</a></div> --}}

                {{#if message}}
                    <p style="color: red">{{message}}</p>
                {{/if}}

            </div>
        </div>
        {{!-- END OF LOGIN --}}

        {{!-- * Remaining Page Content * --}}
        <p>Get the app.</p>
        <div class="app-container">
            <a href="#"><img src="/images/apple-app-store.png"></a>
            <a href="#"><img src="/images/google-play-store.png"></a>
        </div>
        <div class="copyright">Copyright © 2021 SampleArtist.io in Partnership with Ironhack Berlin</div>
        <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme">Toggle Theme</button>
    </div>
    {{!-- END OF LOGIN PAGE CONTAINER --}}

</body>
{{!-- END OF BODY --}}