{{#with singerDetails}}
{{!-- NAV BEGINS --}}
<nav>
  <div class="nav-content">
    <a href="/browse"><img src="/images/orange-logo.png" style="height: 100%"></a>
  </div>
</nav>
{{!-- END OF NAV --}}

<div class="main-block">
    {{!-- HEADER BEGINS --}}


    <div class="header">
        {{!-- REFORMAT FOR SAMPLE PAGE
        <div class="header-photo-area">
        {{#if imgPath}}
            <img src="{{imgPath}}" style="margin-top: 44px; padding: 0; width: 200px; height: 200px; border-radius: 50%;">
        {{else}}
            <div class="header-photo-circle"></div>
        {{/if}}
        </div> --}}
    </div>
    {{!-- END OF HEADER --}}

    {{!-- MAIN SAMPLE BLOCK BEGINS --}}
    <div class="main-profile-block">

        {{!-- SAMPLE CONTENT BEGINS --}}
        <div class="profile-content">

            {{!-- SAMPLE NAV BEGINS --}}
            <div class="sample-nav">
              <button>Like</button> 
              <button>Share</button>
              <button>Save</button>
            </div>
            {{!-- END OF SAMPLE NAV --}}

            {{!-- SAMPLE BODY BEGINS --}}
            <div class="profile-body">
                {{!-- SAMPLE MEDIA BEGINS --}}
                <div class="profile-media">
                    
                </div>
                {{!-- END OF SAMPLE MEDIA --}}

                {{!-- SIDE FOOTER BEGINS --}}
                <div class="footer" style="padding-top: 20px">
                    {{!-- <div class="search-spacer"></div> <!--fix to align with nav--> --}}
                    {{!-- <div class="footer-app-container"></div> <!-- Create new divider for this purpose--> --}}
                    <div class="footer-links">
                        <a href="#">Legal - </a>
                        <a href="#">Privacy - </a>
                        <a href="#">Cookie Policy - </a>
                        <a href="#">Cookie Manager - </a>
                        <a href="#">Imprint - </a>
                        <a href="#">Creator Resources - </a>
                        <a href="#">Blog - </a>
                        <a href="#">Charts - </a>
                        <a href="#">Popular searches </a>
                    </div>
                    <div class="footer-language">
                        Language: English
                    </div>
                </div>
                {{!-- END OF SIDE FOOTER --}}

            </div>
            {{!-- END OF SAMPLE BODY --}}

        </div>
        {{!-- END OF SAMPLE CONTENT --}}

    </div>
    {{!-- END OF MAIN SAMPLE BLOCK --}}

    <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme">Toggle Theme</button>

</div>
{{/with}}
