{{!-- NAV BEGINS --}}
<nav>
  <div class="nav-content">

    <div class="nav-logo"><a href="/search"><img src="/images/orange-logo.png" style="height: 100%"></a></div>

    <div class="nav-search">
      <form action="/search" method="POST">
          <input type="text" id="search" name="q" autocomplete="off">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>

    <div class="nav-links-search">

      {{#with currentUser}}
      <a href="/{{role}}Profile"><button>Profile</button></a>
      {{/with}}

      <a href="/logout"><button>Log Out</button></a>
      <button id="toggle-theme" class="toggle-theme-1"><i class="fas fa-adjust"></i></button>
    </div>

  </div>
</nav>
{{!-- END OF NAV --}}

{{!-- MAIN SEARCH BLOCK BEGINS --}}
<div class="main-search">
  <div class="search-content">

    <div>
      <div class="h1-search">Most Popular</div>
      <div class="h2-search">This week's most popular samples</div>
    </div>

    <div class="samples">
      {{#each tracklist}}
        <a href="/trackDetails/{{_id}}"><img src="{{imgPath}}" alt=""></a>
      {{/each}}
    </div>

  </div>


    {{!-- SIDE FOOTER BEGINS --}}
                <div class="search-footer">
                  <div class="go-mobile">
                    <span>Go mobile</span>
                  </div>
                  <div class="footer-app-container">
                      <a href="#"><img src="/images/apple-app-store.png"></a>
                      <a href="#"><img src="/images/google-play-store.png"></a>
                  </div>
                  <div class="footer-links">

                    <a href="#">Legal</a>&nbsp;-
                    <a href="#">Privacy</a>&nbsp;-
                    <a href="#">Cookie Policy</a>&nbsp;-
                    <a href="#">Cookie Manager</a>&nbsp;-
                    <a href="#">Imprint</a>&nbsp;-
                    <a href="#">Creator Resources</a>&nbsp;-
                    <a href="#">Blog</a>&nbsp;-
                    <a href="#">Charts</a>&nbsp;-
                    <a href="#">Popular searches</a>
                        
                  </div>
                  <div class="footer-language">
                    <span style="color:#4988D7">Language:</span> English (UK)
                  </div>

  </div>
  {{!-- END OF SIDE FOOTER --}}

</div>
{{!-- END OF MAIN SEARCH BLOCK --}}