*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --primary-background: #f3f2f3;
    --secondary-background: #FFFFFF;
    --primary-button: #FC7401;
    --secondary-button: #ECECED;
    --h1-color: #989998;
    --h2-color: #675f5b;
    --h2-background: #271d19;
    --h3-color: #675f5b;
    --p1-color: #181818;
    --p2-color: #000000;
    --nav-color: #383434;
    --profile-nav-color: #181818;
    --divider-color: #ECECED;
    --footer-links: #989998;
    --form-placeholder: #675f5b;
    --modal-overlay: rgba(245, 244, 244, 0.8);
    --search-background: #FFFFFF;
    --form-focus: #dddddd;
}

[data-theme="dark"] {
    --primary-background: #161418;
    --secondary-background: #201E21;
    --primary-button: #FC7401;
    --secondary-button: #FFFFFF;
    --p1-color: #ECECED;
    --p2-color: #FFFFFF;
    --nav-color: #100E11;
    --profile-nav-color: #989998;
    --divider-color: #161418;
    --footer-links: #989998;
    --form-placeholder: #ECECED;
    --modal-overlay: rgba(10, 10, 10, 0.8);
    --search-background: #201E21;
    --form-focus: #000000;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica";
    font-size: 14px;
    background-color: var(--primary-background);
}

.orange-border {
    box-shadow: 0 3px 0 #fc7401 inset;
}

/* Headings & Text --------------------------------------------- */

h1 {
    padding: 0 0 0 20px;
    color: var(--h1-color);
    font-family: "Helvetica";
    font-weight: 200;
    font-size: 24px;
}

h2 {
    margin: 0;
    padding: 10px 0 0 20px;
    color: var(--h2-color);
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 12px;
}

.h1-profile {
    margin: 0px;
    padding: 10px;
    position: absolute;
    top: 77px;
    background-color: #271d19;
    color: white;
    font-family: "Helvetica";
    font-weight: 200;
    font-size: 24px;
}

.h2-profile {
    margin: 0px;
    padding: 5px;
    position: absolute;
    top: 130px;
    background-color: #271d19;
    color: #675f5b;
    font-family:"Helvetica";
    font-weight: 300;
    font-size: 16px;
}

p {
    margin: 20px 0;
    padding: 0;
    color: var(--p1-color);
    font-family: "Helvetica";
    font-size: 12px;
}

.login-text {
    margin: 20px 0;
    padding: 0;
    color: var(--p1-color);
    font-family: "Helvetica";
    font-size: 12px;
    text-align: justify;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--form-placeholder);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--form-placeholder);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--form-placeholder);
}

.invalid {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 350px;
    font-family: "Helvetica";
    font-size: 12px;
    color: #FF0000;
    /* text-align: center; */
}

.copyright {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 2%;
    color: var(--p2-color);
    font-family: "Helvetica";
    font-size: 10px;
}

/* Main Navigation --------------------------------------------- */

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    position: fixed;
    background: var(--nav-color);
    z-index: 10;
}

.nav-content {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: 44px;
    display: flex;
}

.nav-logo {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
}

.nav-search {
    margin: 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search input[type="text"] {
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 2px 0 0 2px;
}

.nav-search button {
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 0 2px 2px 0;
}

.nav-search input:focus {
    outline: none;
}

.nav-links {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links-search {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.nav-links button {
    margin-left: 20px;
}

/* Login Page -------------------------------------------------- */

.login-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 0;
    padding: 0;
    width: 22%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background);
    border-radius: 25px;
}

.login input[type="text"] {
    margin: 3px;
    padding: 16px;
    width: 100%;
    background-color: var(--primary-background);
    color: var(--p1-color);
    border: none;
    border-radius: 2px;
}

input[type="password"] {
    margin: 3px;
    padding: 16px;
    width: 100%;
    background-color: var(--primary-background);
    color: var(--p1-color);
    border: none;
    border-radius: 2px;
}

input[type="radio"] {
    margin: 20px 10px 30px 2px;
}

.login input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--form-focus);
}

.radio-label {
    font-size: 13px;
    color: var(--form-placeholder);
}

.login-radio {
    margin: 0;
    padding: 0;
    width: 50%;
}

.login-radio-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.login-content {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.primary-button-wide {
    margin: 5px;
    padding: 0;
    width: 100%;
    height: 44px;
    background-color: var(--primary-button);
    color: white;
    border: none;
    border-radius: 2px;
}

.secondary-button-wide {
    margin: 5px;
    padding: 0;
    width: 100%;
    height: 44px;
    background-color: var(--secondary-button);
    border: none;
    border-radius: 2px;
    color: #666666;
}

.primary-button-short {
    margin: 5px;
    padding: 0;
    height: 44px;
    background-color: var(--primary-button);
    color: white;
    border: none;
    border-radius: 2px;
}

.secondary-button-short {
    margin: 5px;
    padding: 0;
    height: 44px;
    background-color: var(--secondary-button);
    border: none;
    border-radius: 2px;
    color: #666666;
}

.app-container {
    margin: 0;
    padding: 0;
    display: flex;
}

.app-container img {
    margin: 0;
    padding: 5px;
    height: 44px;
}

/* Content Areas --------------–--------------------------------- */

.main-block {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    /* border: 2px solid orange; */
}

.sample-area {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    /* background-color: yellow; FOR TESTING */
    /* border: 5px solid green; FOR TESTING */
}

.popular-samples {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: orange; */
}

.popular-samples img {
    max-width: 350px;
    padding: 20px;
}

/* Profile Page ---------------–--------------------------------- */

.profile-nav {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-color);
    /* background-color: lightgrey; FOR TESTING */
    /* border: 1px solid red; FOR TESTING */
}

.profile-nav-links {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    /* background-color: blue; FOR TESTING */
    color: var(--profile-nav-color);
}

.profile-nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.profile-nav a{
    color: var(--profile-nav-color);
    text-decoration: none;
}

.profile-nav-links a:hover {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--profile-nav-color);
}

.profile-nav-links li {
    list-style: none;
    padding-top: 22px;
    padding-right: 22px;
    font-family: "Helvetica";
    font-size: 18px;
}

a.current:link, a.current:visited {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--primary-button);
}

/* .main-profile-block {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    border: 1px solid black;
} */

.profile-content {
    margin: 0;
    padding: 0 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
}

.profile-body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    /* border: 2px solid orange;  */
}

.empty-profile {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}

.profile-media {
    margin: 0;
    padding: 0;
    width: 75%;
    min-height: 100%;
    /* border: 3px solid purple; */
}

.profile-media img {
    margin: 0;
    padding: 0;
    width: 300px;
}

.profile-samples {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.profile-samples .track {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.profile-samples .track .info {
    margin: 0;
}

/* Header ------------------------------------------------------- */

.header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 300px;
    display: flex;
    background-image: linear-gradient(to right, #e5846f, #74939a);
}

.search-spacer {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 75px;
    /* background-color: green; FOR TESTING PURPOSES */
}

.header-photo-area {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; FOR TESTING */
}

.header-photo-circle {
    margin: 66px 0px 22px 0px;
    padding: 0px;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #74939a, #e5846f);
    border-radius: 50%;
}

.header-labels {
    margin: 0;
    padding: 0;
    width: 75%;
    height: 100%;
    /* border: 1px solid black; FOR TESTING */
}

/* Pseudo Footer ------------------------------------------------ */

.footer {
    margin: 0;
    padding: 0;
    width: 25%;
    min-height: 100%;
    border-left: 1px solid var(--divider-color);
    /* background-color: pink;  FOR TESTING */
    /* border: 5px solid blue; FOR TESTING */
}

.profile-bio {
    margin: 0 auto;
    padding: 5px 0;
    width: 80%;
    min-height: 20px;
    color: var(--p1-color);
    /* border: 2px solid red; */
    border-bottom: 1px solid var(--divider-color);
}

.go-mobile {
    margin: 0 auto;
    padding: 0 0 5px 0;
    width: 80%;
    color: #989998;
    border-bottom: 1px solid var(--divider-color);
    /* background-color: purple; FOR TESTING */
}

.footer-app-container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    display: flex;
    border-bottom: 1px solid var(--divider-color);
}

.footer-app-container img{
    margin: 15px 0px 15px 0px;
    padding: 0;
    width: 90%;
}

.footer-links {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    width: 80%;
    font-family: "Helvetica";
    font-size: 12px;
    color: var(--footer-links);
}

.footer-links a {
    text-decoration: none;
    color: var(--footer-links);
}

.footer-language {
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
    width: 80%;
    font-family: "Helvetica";
    font-size: 12px;
    color: var(--p1-color);
}

/* Search Page ------------------------------------------------- */

.main-search {
    margin: 0 auto;
    padding-top: 50px;
    width: 70%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    background-color: var(--secondary-background);
    /* border: 2px solid orange; */
}

.h1-search {
    margin: 20px 0 0 20px;
    padding: 0;
    color: var(--h1-color);
    font-family: "Helvetica";
    font-weight: 200;
    font-size: 24px;
}

.search-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-content .samples {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.search-content .samples img {
    margin: 15px 10px;
    padding: 0;
    max-width: 300px;
}

.search-footer {
    margin: 0;
    padding: 0;
    width: 40%;
    min-height: 100%;
    border-left: 1px solid var(--divider-color);
    /* background-color: pink;  FOR TESTING */
    /* border: 5px solid blue; FOR TESTING */
}



/* Sample Page ------------------------------------------------- */

.sample-nav {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid var(--divider-color);
}

.sample-info {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    border: 1px solid green;
}
/* Remember to create bottom border on div */

.sample-creator {
    margin: 0;
    padding: 0;
    width: 25%;
    border: 1px solid blue;
}

.sample-description {
    margin: 0;
    padding: 0;
    width: 75%;
    border: 1px solid red;
}

.samples-area {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    border: 1px solid orange;
}

.samples-left-spacer {
    margin: 0;
    padding: 0;
    width: 25%;
    border: 2px solid purple;
}

.samples-container {
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
}

.single-sample-div {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.sample-order-number {
    margin: 0;
    padding: 0;
    width: 5%;
    border: 1px solid red;
}

.sample-title {
    margin: 0;
    padding: 0;
    width: 85%;
    border: 1px solid pink;
}

.sample-play {
    margin: 0;
    padding: 0;
    width: 10%;
    border: 1px solid orange;
}

/* Edit Profile Modal -------------------------------------------- */

.modal-bg {
	background-color: var(--modal-overlay);
	width: 100%;
	height: 100%;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
    width: 60%;
    height: 70%;
    min-height: 500px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
	background-color: var(--secondary-background);
	padding: 30px;
    z-index: 100;
}

.modal-contents input[type="text"] {
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 16px;
    width: 70%;
	display: block;
    background-color: var(--primary-background);
    border: none;
    border-radius: 2px;
}

.modal-contents label {
    margin: 0 auto;
    color: var(--p1-color);
    width: 70%;
}

.close {
	font-size: 1.5rem;
	color: var(--h1-color);
	cursor: pointer;
}

.edit-your-profile {
    margin: 0;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--divider-color);
}

.edit-your-profile .title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.edit-profile-contents {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.edit-profile-contents .wrapper{
    margin: 20px 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.edit-profile-contents .wrapper .photo {
    margin: 0;
    padding: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-profile-photo {
    margin: 20px 0;
    padding: 0;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #74939a, #e5846f);
    border-radius: 50%;
}

.edit-profile-contents .user-info {
    margin: 0;
    padding: 20px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--divider-color);
    /* border: 1px solid red; */
}

.save-profile {
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--divider-color);
}