<form action="/singerProfile/addTrack" method="POST" enctype="multipart/form-data">

  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="genre">Genre:</label>
  <input type="text" name="genre">
  <label for="description">Description:</label>
  <input type="text" name="description">
  <label for="audio">File:</label>
  <input type="file" name="audio" id="audio">
  <button type="submit">Upload</button>

</form>