{{!-- NAV BEGINS --}}
<nav>
  <div class="nav-content">
    <div class="nav-logo"><a href="/search"><img src="/images/orange-logo.png" style="height: 100%"></a></div>

    <div class="nav-search">
      <form action="/search" method="POST">
          <input type="text" id="search" name="q" autocomplete="off">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>

    <div class="reduced-nav-links">
      <div class="nav-icons">
        <button id="toggle-theme" class="nav-icon" alt="Toggle Theme"><i class="fas fa-adjust"></i></button>
        <a href="/logout" class="nav-icon" alt="Log Out"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>
</nav>
{{!-- END OF NAV --}}

{{!-- SECONDARY BLOCK BEGINS --}}
<div class="secondary-block">

    <div class="edit-title">Edit Sample</div>
    
    {{#with trackDetails}}
    <form action="/editSample/{{_id}}" method="POST" enctype="multipart/form-data">

      <div class="edit-sample">

        <div class="cover">
          <img src="{{imgPath}}">
          <label for="cover"></label>
          <input type="file" name="cover" id="cover">
        </div>

        <div class="info">
          <label for="artisticName">Title:</label>
          <input type="text" name="title" id="title" value="{{title}}">

          <label for="description">Description:</label>
          <input type="text" name="description" id="description" value="{{description}}">

          <div class="modal-save"><button type="submit">Save</button></div>
        </div>
      </div>

    </form>
    {{/with}}

   <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme">Toggle Theme</button>
{{!-- END OF SECONDARY BLOCK --}}